body{
    margin: 0;
    background-color: rgb(245, 243, 243);
    font-family: sans-serif;
}

/*Barra de navegacion*/
.nav_bar{
    padding: 20px;
    height: 100%;
    display: flex;
    position: fixed;
    margin: 0;
    background-color: rgb(107, 183, 255);
}
.nav_bar--list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    padding: 0;
}
.nav_bar--list-link{
    text-decoration: none;
    color: rgb(253, 253, 253);
}
.nav_bar--list-link:hover{
    text-decoration: underline;
    font-weight: bolder;
}
/**/