body{
    margin: 0;
    background-color: rgb(192, 192, 192);
    font-family: sans-serif;
}
.presentacion{
    width: 100%;
    text-align: center;
    text-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.presentacion-content {
    max-width: 400px;
}
h1{
    text-align: center;
}